.footer {
    background-color: #fff;
    padding: 20px;
    border-top: solid 0.01rem rgb(206, 206, 206);
}
.footer > .top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fff;
}
.footer > .top > div > h3 {
    text-transform: uppercase;
    font-weight: 400;
    color: rgb(66, 66, 66);
    border-bottom: solid 0.01rem rgb(206, 206, 206);
    padding: 10px;
}
.footer > div li >  * {
    text-decoration: none;
    color: rgb(145, 145, 145);
    font-weight: 300;
    font-size: 0.85rem;
}
.footer > .top > div ul {
    padding: 0;
}
.footer > .top > div li {
    padding: 3px;
}
.footer > .top > div {
    flex: 1;
    margin: 10px;
}
.connect > ul > li:last-child {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.connect > ul > li:last-child > input {
    flex: 1;
    padding: 8px;
    font-size: 1rem;
    border: solid 0.2px var(--color);
    outline: none;
}
.connect > ul > li:last-child > button {
    outline: none;
    border: none;
    background-color: var(--color);
    color: rgb(255, 255, 255);
}
.footer > .bottom > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: solid 0.01rem rgb(206, 206, 206);
    background-color: #fff;
}
.footer > .bottom > div:first-child > a {
    margin: 15px;
    color: var(--color);
}
.footer > .bottom > div:last-child {
    text-align: center;
    padding: 10px;
    color: rgb(167, 167, 167);
    background-color: #fff;
}
.footer > .bottom > div:last-child > a {
    text-decoration: none;
    color: rgb(167, 167, 167);
}
@media only screen and (max-width: 625px) {
    .footer > .top {
        flex-wrap: wrap;
    }
}
